#chat-messages .fromID-4249648 .badge-box i,
#chat-messages  .id-4249648 .badge-box i {
    background-image: url(http://i.imgur.com/YYvfXPB.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

#chat-messages .fromID-3817231 .badge-box i,
#chat-messages  .id-3817231 .badge-box i {
    background-image: url(http://31.media.tumblr.com/be6d6c864a4cc2c5c82581a7ae25dc38/tumblr_naunbzBMPF1tf79x0o1_500.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}
